// Couleurs principales
$primary-color: #2a75bb;  // Bleu Pokémon
$secondary-color: #ffcb05; // Jaune Pokémon
$background-color: #f8f8f8; // Fond clair
$text-color: #333;
$black: Black;

// Typographie
$font-family: 'Arial', sans-serif;
$heading-font-size: 2rem;
$paragraph-font-size: 1rem;

// Espacements
$spacing-unit: 16px;
