<div class="pokemon-container">
  <div
    class="pokemon-card"
    *ngFor="let pokemon of pokemons"
    (click)="selectPokemon(pokemon.name)"
  >
    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + (pokemons.indexOf(pokemon) + 1 + (currentPage - 1) * limit) + '.png'" [alt]="pokemon.name" />
    <div class="card-body">
      <h5>{{ pokemon.name | titlecase }}</h5>
    </div>
  </div>
</div>

<div class="pagination">
  <button
    class="btn-page"
    (click)="goToPreviousPage()"
    [disabled]="currentPage === 1"
  >
    Précédent
  </button>
  <div class="page-numbers">
    <ng-container *ngFor="let page of getPagesToDisplay()">
      <span
        [class.active]="currentPage === page"
        (click)="goToPage(page)"
        class="page-number"
      >
        {{ page }}
      </span>
      <span 
        *ngIf="page === 1 && currentPage > 3" 
        class="page-number"
      >...</span>
      <span 
        *ngIf="page === getTotalPages() - 1 && currentPage < getTotalPages() - 2" 
        class="page-number"
      >...</span>
    </ng-container>
  </div>
  <button
    class="btn-page"
    (click)="goToNextPage()"
    [disabled]="currentPage * limit >= totalPokemons"
  >
    Suivant
  </button>
</div>
